@import "../styles/variables.scss";

.sidebar {
  background-color: $dark-background;
  box-shadow: 0px 8px 17px rgba(grey, 0.5);
  display: inline-block;
  position: fixed;
  min-width: 14rem;
  padding: $spacing 0;
  height: 100%;
  overflow: auto;

  &--centered {
    align-self: center;
  }

  &__separator {
    width: 90%;
    margin: $spacing 0;
    border: solid 1px;
    color: darken($white, 5%);
  }

  &__menu {
    flex: 1;
  }

  &__lhl {
    margin-top: 2rem;
  }
}

.main_side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0;
  padding: 0 $spacing;
  width: 100%;
}

.right_side_of_main {
  background-color: $dark-background;
  box-shadow: 17px 8px 0px rgba(grey, 0.5);
  display: inline-block;
  position: fixed;
  min-width: 14rem;
  padding: $spacing 0;
  height: 100%;
  overflow: auto;
}
.main_side_pantry {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
  margin: 2rem 0;
  padding: 0 $spacing;
  width: 100%;
}

.pantry{
  cursor: pointer;
}