.ingredient{
  height: 30px;
  border-radius: 15px;
  box-shadow: 0 0 8px  rgba(grey, 0.5);
  margin: 10px;
  
}

.ingredient span {
  padding: 10px;
}
.ingredient .fa-circle-xmark{
  color: #e16120 ;
  cursor: pointer;
}

.pantry_ingredients_ul{
  display: flex;
  flex-wrap: wrap;
}