.recipe_ingredient{
  height: 40px;
}

.recipe_ingredient span{
  font-weight: 14px;
}

.recipe_ingredient .fa-circle-plus{
  color: #e16120 ;
  cursor: pointer;
  padding-right: 10px;
}

.recipe_ingredient_ul{
  display: flex;
  flex-direction: column;
  font-weight:lighter;
}