.card-body{
  font-weight:lighter;

}

.indvidual_card{
  margin: 10px;
}

.recipe_card_ul{
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;

  margin-top: 40px;
}

.card{
  border: none;
  padding-inline-start: 0px;
}

.card .card-body{
  padding: 10px 0px;
}

.recipe_source{
  text-transform: uppercase;
}