.suggested_ingredient{
  height: 30px;
  width: 650px;
  font-size: 14px;
}
.suggested_ingredient:hover{
  background-color:rgb(245, 239, 234);
}

.suggested_ingredient span {
  padding: 10px;
}
.suggested_ingredient .fa-circle-plus{
  color: #e16120 ;
  cursor: pointer;
  padding-left: 10px;
}

.suggested_ingredient_ul{
  display: flex;
  flex-direction: column;
  font-weight:lighter;
}